.all {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  .innerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tracksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .trackList {
    margin-bottom: 20px;
  }
  